@import "~normalize.css/normalize.css"
@import "~react-datepicker/dist/react-datepicker.css"

@import Variables.sass

*
    box-sizing: border-box

body
    font-family: $font
    background: $black
    color: $white
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.container
    max-width: 1120px
    padding-left: 20px
    padding-right: 20px
    margin-left: auto
    margin-right: auto

.main
    padding-top: 20px
    border-top: 10px solid rgba($lighest-gray,0.5)

.font-weight-black
    font-weight: 900

.font-weight-semibold
    font-weight: 600

.font-weight-medium
    font-weight: 500

.font-weight-light
    font-weight: 300

.row
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 55px
    grid-row-gap: 50px

.settings
    display: flex
    justify-content: space-between
    padding-bottom: 20px
    border-bottom: 2px solid $gray
    margin-bottom: 25px

.notification-caption
    margin-bottom: 30px
    font-size: 20px

.label
    margin: 0
    &__caption
        font-size: 16px
        line-height: 19.5px
        display: block
        margin-bottom: 13px
        color: $danger
        letter-spacing: 0.888889px
        text-transform: uppercase
        font-weight: 600
        opacity: 0.8

.overflow-hidden
    overflow: hidden

.icon-btn
    display: block
    border: none
    padding: 0
    background: transparent
    transition: opacity 0.3s ease
    cursor: pointer
    &__image
        width: 29px
        height: auto
    &:hover,
    &:focus
        opacity: 0.5

.form-alert
    font-size: 14px
    line-height: 17px
    opacity: 0.8
    margin: 5px 0 0

.text-danger
    color: $danger

.react-select
    cursor: pointer
    & &__container
        outline: none
        opacity: 0.8
    & &__control
        background: transparent
        border: none
        font-size: 20px
        line-height: 1.1
        background: rgba(50, 50, 50, 0.948044)
        padding: 10.7px 6px 10.7px 16px
        &--menu-is-open
            .react-select__dropdown-indicator
                transform: rotate(180deg)
    & &__multivalue
        background:
    & &__value
        &-container
            padding: 0
            opacity: 0.8
            border-radius: 4px
            border: none
            color: white
            display: flex
            width: 100%
            resize: none
            font-weight: 400
            &:hover,
                outline: none
                background: rgba(50, 50, 50, 1)
    & &__indicator
        color: $danger
        opacity: 0.8
    & &__dropdown-indicator
        color: $danger
        opacity: 0.8
        transition: transform 0.3s ease
        &:hover
            color: $danger
    & &__clear-indicator
        display: none
    & &__indicator-separator
        display: none
    & &__menu
        background: $black
    & &__option
        font-size: 20px
        line-height: 24px
        opacity: 0.8
        background-color: none
        &:hover,
        &:focus
        &:active
            background-color: none
        label
            &::before
                content: " "
                display: inline-block
                background-color: #FFFFFF
                border: 1px solid #E6E8ED
                box-sizing: border-box
                border-radius: 2px
                width: 16px
                height: 16px
                margin-right: 7px
        input
            display: none
            &:checked
                ~ label
                    &::before
                        background-color: $danger
                        border-color: $danger
                        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44742 3.33543L0.0169678 4.77086L3.82685 8L10.0735 1.2675L8.46727 0L3.64465 5.19774L1.44742 3.33543Z' fill='white'/%3E%3C/svg%3E")
                        background-position: center
                        background-size: 10px
                        background-repeat: no-repeat
